@tailwind base;
@tailwind components;
@tailwind utilities;



.btn{
    @apply inline-flex items-center gap-2 text-center justify-center px-3.5 py-2 border border-transparent text-sm leading-4 font-medium rounded shadow-sm cursor-pointer transition duration-100 ease-out;
}
.btn:focus{
    @apply outline-none ring-2 ring-offset-2;
}

.btn-icon{
    @apply inline-flex items-center gap-1 text-center justify-center p-1 border border-transparent text-sm font-medium rounded shadow-sm cursor-pointer transition duration-100 ease-out;
}
.btn-icon:focus{
    @apply outline-none ring-2 ring-offset-2;
}



.btn-inline{
    @apply  text-center justify-center w-full rounded p-1 uppercase text-xs font-bold cursor-pointer transition ease-out duration-300;
}
.btn-inline:focus{
    @apply transform scale-110 bg-opacity-50;
}



.btn-primary{
    @apply  text-white bg-sky-600;
}
.btn-primary:hover{
   @apply bg-sky-500;
}
.btn-primary:focus{
    @apply ring-sky-600;
}



.btn-secondary{
    @apply text-gray-800 bg-gray-300 ;
}
.btn-secondary:hover{
    @apply bg-gray-400;
}
.btn-secondary:focus{
    @apply ring-gray-400;
}


.btn-danger{
    @apply text-red-900 bg-red-300;
}
.btn-danger:hover{
    @apply bg-red-400;
}
.btn-danger:focus{
    @apply ring-red-300;
}
