{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<h3 class="font-bold text-xl">
    Login
</h3>


<form action="/login" method="post" id="loginForm">
    <div class="flex flex-col gap-4">
        <div>
            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
            <div class="mt-2">
                <input type="text" name="username" id="username"
                    class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    required>
            </div>
        </div>
        <div>
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="mt-2">
                <input type="password" name="password" id="password"
                    class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    required>
            </div>
        </div>

        <div>
            <button type="submit"
                class="btn btn-primary">
                Submit
            </button>
            <a href="/signup"
                class="btn btn-secondary">
                Signup
            </a>
        </div>
    </div>

</form>

{% for error in errors %}
<div class="bg-red-200 border-red-600 p-2 rounded text-red-600">{{ error }}</div>
{% endfor %}
{% endblock %}
