<div class="flex flex-row gap-2 flex-wrap items-center">


    {% match user %}
    {% when Some with (usr) %}
    <p> {{ usr.username }}</p>
    <a class="btn btn-primary" href="/logout">Logout</a>
    {% when None %}
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/signup" class="btn btn-primary">Signup</a>


    {% endmatch %}
</div>
