{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<h3 class="font-bold text-xl">
    Signup
</h3>


<form action="/signup" method="post" id="signupForm">
    <div class="flex flex-col gap-4">
        <div>
            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
            <div class="mt-2">
                <input type="text" name="username" id="username"
                    class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    required>
            </div>
        </div>
        <div>
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="mt-2">
                <input type="password" name="password" id="password"
                    class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    required>
            </div>
        </div>
        <div>
            <label for="password_repeat" class="block text-sm font-medium leading-6 text-gray-900">repeat
                Password</label>
            <div class="mt-2">
                <input type="password" name="password_repeat" id="password_repeat"
                    class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    required>
            </div>
        </div>
        <div>
            <button type="submit"
                class="btn btn-primary">Submit</button>
            <a href="/login"
                class="btn btn-secondary">
                Login
            </a>
        </div>
    </div>


</form>


{% match error %}
{% when Some with (message) %}
<div class="bg-red-200 border-red-600 p-2 rounded text-red-600">{{ message }}</div>
{% when None %}
{% endmatch %}



{% endblock %}
