<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <meta property="og:site_name" content="Maper" />
    <meta property="og:site" content="https://maper.node1337.de" />
    <meta property="og:title" content="Maper" />
    <meta property="og:description" content="Save your links with maper." />
    <meta property="og:image" content="/static/favicon_io/android-chrome-512x512.png" />
    <meta property="og:url" content="https://maper.node1337.de" />
    <meta property="og:type" content="application" />

    <link rel="manifest" href="/static/manifest.webmanifest">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- generics -->

    <link rel="icon" href="/static/favicon_io/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" href="/static/favicon_io/android-chrome-512x512.png" sizes="512x512">


    <link rel="shortcut icon" href="/static/iconified/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/iconified/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/iconified/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/iconified/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/iconified/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/iconified/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/iconified/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/iconified/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/iconified/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/iconified/apple-touch-icon-180x180.png" />


    <!-- Android -->
    <link rel="shortcut icon" href="/static/favicon_io/android-chrome-192x192.png" sizes="192x192">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/static/favicon_io/apple-touch-icon.png" sizes="180x180">


    <title>{% block title %}{{ title }} - Maper{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body class="text-gray-600 font-mono">
    <nav class="bg-sky-200 p-4 sticky top-0 left-0 right-0 w-full z-20 shadow">
        <div class="flex flex-row flex-wrap justify-between items-center">
            <a href="/" class="text-3xl font-bold text-sky-800">Maper</a>

            {% match user %}
            {% when Some with (usr) %}
            <div class="flex flex-row gap-2 flex-wrap">
                <a href="/tags">Tags</a>
                <a href="/entries">Entries</a>
            </div>
            {% when None %}
            {% endmatch %}

            {% include "authentication/session_indicator.html" %}
        </div>
    </nav>
    <div class="p-6 flex flex-col gap-4 lg:max-w-screen-lg mx-auto">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/js/htmx.min.js"></script>
</body>

</html>
