{% extends "base.html" %}

{% block title %}Greet{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<p class="">
    Hello {{name}}!
</p>

<p class="text-gray-500 text-sm">If this is not your name, try changing the url :)</p>
{% endblock %}
