{% extends "base.html" %}

{% block title %}Maper{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<p class="font-bold">
    Welcome to Maper
</p>


{% match user %}
{% when Some with (usr) %}
<div class="flex flex-row gap-4 flex-wrap justify-center">
    <a class="p-8 rounded bg-sky-200 shadow hover:shadow-xl duration-300 text-xl uppercase" href="/tags">Tags</a>
    <a class="p-8 rounded bg-sky-200 shadow hover:shadow-xl duration-300 text-xl uppercase" href="/entries">Entries</a>
</div>
{% when None %}
<div class="flex flex-row gap-2 flex-wrap">
    <a class="font-bold underline text-sky-700 hover:text-sky-600" href="/login">Login</a>
    <a class="font-bold underline text-sky-700 hover:text-sky-600" href="/signup">Signup</a>
</div>

{% endmatch %}

{% endblock %}
