{% extends "base.html" %}

{% block title %}Edit Tag {{tag.name}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<h3 class="font-bold text-xl">
    Edit Tag {{tag.name}}
</h3>

<form action="/tags/{{tag.id.0}}" method="post">

    <input type="hidden" name="id" id="id" class="hidden" value="{{tag.id.0}}">

    <div class="flex flex-col gap-4 border border-gray-500 rounded p-4">
        <div class="flex flex-row gap-2 flex-wrap">

            <div>
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                <div class="mt-2">
                    <input type="text" name="name" id="name"
                        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                        value="{{tag.name}}" required>
                </div>
            </div>

            <div>
                <button type="submit"
                    class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</form>


{% endblock %}
