{% extends "base.html" %}

{% block title %}Tags{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<h3 class="font-bold text-xl">
    Tags
</h3>

{% include "tag/tag_add_form.html" %}

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {% for tag in tags %}
    {% include "tag/tag_card.html"%}
    {% endfor %}
</div>

{% endblock %}
