<form action="/tags" method="post">
    <div class="flex flex-col gap-4 border border-gray-500 rounded p-4">
        <div class="flex flex-row gap-2 flex-wrap">

            <div>
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                <div class="mt-2">
                    <input type="text" name="name" id="name"
                        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                        required>
                </div>
            </div>

            <div>
                <button type="submit"
                    class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</form>
