<button id="showDialog" class="btn-icon btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
    </svg>

</button>

<dialog id="entryAddDialog" class="p-0 rounded shadow-xl">
    <div id="entryAddDialogContent" class=" p-4">
        <form method="post" action="/entries" id="entryAddForm">
            <div class="flex flex-col gap-4 ">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                        <div class="mt-2">
                            <input type="text" name="name" id="name"
                                class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                                required>
                        </div>
                    </div>
                    <div>
                        <label for="url" class="block text-sm font-medium leading-6 text-gray-900">Url</label>
                        <div class="mt-2">
                            <input type="url" name="url" id="url"
                                class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                                required>
                        </div>
                    </div>



                </div>

                <div class="grid grid-cols-1 gap-2">

                    <div>
                        <label for="notes" class="block text-sm font-medium leading-6 text-gray-900">Notes</label>
                        <div class="mt-2">

                            <textarea id="notes" name="notes" rows="5"
                                class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"></textarea>

                        </div>
                    </div>
                </div>

                <div>
                    <label for="tags" class="block text-sm font-medium leading-6 text-gray-900">Tags</label>
                    <div class="mt-2"
                        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
                        <fieldset class="flex flex-row gap-2 flex-wrap">
                            {% for tag in tags %}
                            <p><label> <input type=checkbox name="tag_ids" value="{{tag.id.0}}"> {{tag.name}} </label>
                            </p>
                            {% endfor %}

                        </fieldset>
                    </div>
                </div>

                <div class="flex flex-row gap-2 flex-wrap">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <button id="closeDialog" type="button" class="btn btn-secondary">
                        Close
                    </button>
                </div>
            </div>
        </form>

    </div>
</dialog>


<script>
    const showButton = document.getElementById('showDialog');
    const closeButton = document.getElementById('closeDialog');

    const dialog = document.getElementById('entryAddDialog');
    const dialogContent = document.getElementById('entryAddDialogContent');

    showButton.addEventListener('click', () => {
        dialog.showModal();
    });

    closeButton.addEventListener('click', () => {
        dialog.close();
    })

    // close dialog on any click
    dialog.addEventListener('click', () => dialog.close());

    // do not close dialog when clicking inside of it
    dialogContent.addEventListener('click', (event) => event.stopPropagation());


</script>