<div class="bg-sky-100 rounded hover:bg-sky-200 duration-300 shadow p-3 flex flex-col gap-2 justify-between">
    <div class="flex flex-col gap-2">
        <p class="font-bold text-lg text-sky-700">{{entry.name}}</p>

        <div class="flex flex-row gap-2">
            <a href="{{entry.url}}" target="_blank"
                class="btn-icon btn-secondary">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                        clip-rule="evenodd" />
                </svg>


            </a>
            <a href="/entries/{{entry.id.0}}"
                class="btn-icon btn-secondary">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path
                        d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z" />
                </svg>
            </a>
            {% include "entries/entry_delete_button.html" %}
        </div>

        <p class="text-gray-600 text-sm"> {{entry.url}}</p>

        {% match entry.notes %}
        {% when Some with (notes) %}
        <p class="text-gray-500 text-sm"> {{notes}}</p>
        {% else %}
        {% endmatch %}
    </div>

    <div class="flex flex-row gap-2 flex-wrap">
        {% for tag in entry.tags %}
        <span class="rounded bg-gray-100 px-2 py-1 text-xs text-gray-700">{{tag.name}}</span>
        {% endfor %}
    </div>
</div>
