{% extends "base.html" %}

{% block title %}Edit Entry {{entry.name}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<h3 class="font-bold text-xl">
    Edit Entry {{entry.name}}
</h3>


<form action="/entries/{{entry.id.0}}" method="post" id="entryAddForm">
    <input type="hidden" name="id" id="id" class="hidden" value="{{entry.id.0}}">

    <div class="flex flex-col gap-4 border border-gray-500 rounded p-4">
        <div class="flex flex-row gap-2 flex-wrap">
            <div>
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                <div class="mt-2">
                    <input type="text" name="name" id="name"
                        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                        value="{{entry.name}}" required>
                </div>
            </div>
            <div>
                <label for="url" class="block text-sm font-medium leading-6 text-gray-900">Url</label>
                <div class="mt-2">
                    <input type="url" name="url" id="url"
                        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                        value="{{entry.url}}" required>
                </div>
            </div>
            

        </div>
        <div>
            <label for="notes" class="block text-sm font-medium leading-6 text-gray-900">Notes</label>
            <div class="mt-2">

                {% match entry.notes %}
                {% when Some with (notes) %}
                <textarea id="notes" name="notes" rows="5" class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">{{notes}}</textarea>
                {% when None %}
                <textarea id="notes" name="notes" rows="5" class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
                </textarea>
                {% endmatch %}

            </div>
        </div>

        <div>
            <label for="tags" class="block text-sm font-medium leading-6 text-gray-900">Tags</label>
            <div class="mt-2"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
                <fieldset class="flex flex-row gap-2 flex-wrap">
                    {% for tag in tags %}
                    <p>
                        <label>
                            {% if entry.tags.contains(tag) %}
                            <input type=checkbox name="tag_ids" value="{{tag.id.0}}" checked>
                            {% else %}
                            <input type=checkbox name="tag_ids" value="{{tag.id.0}}">
                            {% endif %}
                            {{tag.name}}
                        </label>
                    </p>
                    {% endfor %}

                </fieldset>
            </div>
        </div>
        <div>
            <button type="submit"
                class="btn btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}
