{% extends "base.html" %}

{% block title %}Entries{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="flex flex row gap-2 flex-wrap items-center">
    <h3 class="font-bold text-xl">
        Entries
    </h3>
    {% include "entries/entry_add_form.html" %}
</div>


<form method="get">
    <div class="flex flex-row items-center gap-2 flex-wrap">
        <div>
            <label for="search" class="hidden text-sm font-medium leading-6 text-gray-900">Search</label>
            <div class="relative rounded-md shadow-sm">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="w-5 h-5 text-gray-500">
                        <path fill-rule="evenodd"
                            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                            clip-rule="evenodd" />
                    </svg>

                </div>
                {% match filter_params.search %}
                {% when Some with (search) %}
                <input type="text" name="search" id="search"
                    class="block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                    value="{{search}}">
                {% else %}
                <input type="text" name="search" id="search"
                    class="block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
                {% endmatch %}

                
            </div>
        </div>


        <div>
            <label for="search" class="hidden text-sm font-medium leading-6 text-gray-900">Tag</label>

            <select id="tag_id" name="tag_id" class="block w-full rounded-md border-0 py-2 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <option></option>
                {% for tag in tags %}
                    {% match filter_params.tag_id %}
                    {% when Some with (selected_tag_id) %}
                        {% if tag.id.0.to_string() == selected_tag_id.to_string() %}
                            <option value="{{tag.id.0}}" selected>{{tag.name}}</option>
                        {% else %}
                            <option value="{{tag.id.0}}">{{tag.name}}</option>
                        {% endif %}
                    {% else %}
                        <option value="{{tag.id.0}}">{{tag.name}}</option>
                    {% endmatch %}
                {% endfor %}
            </select>
        </div>

      
        <div>
            <button type="submit" class="btn-icon btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="w-5 h-5">
                <path fill-rule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clip-rule="evenodd" />
                </svg>  
            </button>
            <a href="/entries" class="btn-icon btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </a>
        </div>


    </div>

</form>




<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for entry in entries %}
    {% include "entries/entry_card.html" %}
    {% endfor %}
</div>



{% endblock %}
